#logger {
	position:fixed;
	top: 24px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	overflow:auto;
	text-align:left;
	padding:5px;
	z-index:200;
	background-color:#fff;
	border:1px solid #000;
	font-size:100%;
	color:#333;
	font-weight:normal;
}

#loggerLink {
	position:fixed;
	top: 5px;
	left: 5px;
	height: 20px;
	overflow:hidden;
	text-align:left;
	padding:3px 5px 5px;
	z-index:3;
	background-color:#000;
	border:1px solid #000;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	font-family:Helvetica, sans-serif;
}
#logger pre { margin:0 }
#logger pre.error { color: #c00; }
#logger pre.warning { color: #f90; }
#logger pre.debug { color:#090; }
#logger pre.info { color:#06f; }
